---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import ProductCard from '../components/ui/ProductCard.astro';
import TrustSection from '../components/sections/TrustSection.astro';
import CustomServices from '../components/sections/CustomServices.astro';
import { getCollection } from 'astro:content';

const productos = await getCollection('productos');
---

<Layout title="Expertos en Nutrición Vegetal">
  <Hero />
  
  <section id="productos" class="max-w-7xl mx-auto px-4 py-24">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {productos.map(prod => (
        <ProductCard producto={prod} />
      ))}
    </div>
  </section>

  <TrustSection />
  <CustomServices />

</Layout>